// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k1.dtsi"
#include "binman.dtsi"

/ {
	model = "Banana Pi BPI-F3";
	compatible = "bananapi,bpi-f3", "spacemit,k1";

	chosen {
		stdout-path = "serial0";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x80000000>;
	};
};

&uart0 {
	status = "okay";
};

&sdhci0 {
	bus-width = <4>;
	cd-inverted;
	cap-sd-highspeed;
	sdh-phy-module = <0>;
	clk-src-freq = <204800000>;
	status = "okay";
};

/* eMMC */
&sdhci2 {
	bus-width = <8>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	sdh-phy-module = <1>;
	clk-src-freq = <375000000>;
	status = "okay";
};
